.panel-group#accordian
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{'data-toggle'=>'collapse', 'data-parent'=>'#accordion', 'href'=>'#collapse1'} Realtime
    #collapse1.panel-collapse.collapse.in
      .panel-body
        -# %h6 'R:#{@pick.round} | P:#{@pick.pick}'

        .col-md-4
          %h5 Most Recent Picks
          -if @previous.count > 0
            -@previous.each do |p|
              %p #{p.team.tname} drafted #{p.player.position} #{p.player.pname}
          -else
            %h6 None Available
        .col-md-4
          %h5 Picking Now
          %p #{@pick.team.tname}
        .col-md-4
          %h5 Next Pick
          %p #{@on_deck.team.tname}
